body{
	background-image: url('../img/sea.jpg');
	background-repeat: none;
	background-size: cover;
	height: 100%;
}

/************* Menu haut ***********/
.menu{
	background-color: #37BC9B;
	height: 50px;
	width: 100%;
	margin-bottom: 1em;
}

/************ Bloc de connexion  ******************/
.connexion{
	margin-top: 2em;
}
.connexion > .jumbotron {
	text-align: center;
	border-radius: 0.5rem;
	margin: 0 auto;
	background-color: #fff;
	padding: 2rem;
}

.connexion .glyphicon{
	font-size: 10rem;
	color: rgba(0, 0, 0, 0.3);
}

/************ Menu bas ******************/
.bottom{
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.gros_menu{
	background-image: url('../img/carbon_pattern.png');
	width: calc(100%/6);
	margin: 0;
	padding: 1em 0 1em 0;
	position: relative;
	text-align: center;
	-webkit-transition: margin-top 0.3s ease-out; /* For Safari 3.1 to 6.0 */
    transition: margin-top 0.3s ease-out;
}

.gros_menu:hover{
	margin-top: -2%;
}


/************ Règles générales *********/
input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}

h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #ababab;
}

.box {
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.full-height{
	min-height: 85%;
}

.container, .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 0;
	margin-left: 0;
}